Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, so that it can be easily accessed and managed.
You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
Database handlers create a database in such a way that only one set of software program provides access of data to all the users.


           SQL                                                    	                                                       NoSQL
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                                                     Non-relational or distributed database system.
These databases have fixed or static or predefined schema	                                         They have dynamic schema
These databases are not suited for hierarchical data storage.	                                     These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries	                                                 These databases are not so good for complex queries
Vertically Scalable	                                                                                 Horizontally scalable
Follows ACID property	                                                                             Follows CAP(consistency, availability, partition tolerance)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	                                             Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :
In this section, We will cover the following DDL commands as follows.

Create
Alter 
truncate
drop
Let’s discuss it one by one.


Command-1 :
CREATE :
            This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

            CREATE TABLE table_name
            (
            column_1 datatype,
            column_2 datatype,
            column_3 datatype,
            ....
            );
Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);
Command-2 :
ALTER :
        This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –
Syntax to add a column to an existing table.

            ALTER TABLE table_name
            ADD column_name datatype;
Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;
Command-3 :
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

            TRUNCATE TABLE table_name;
Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;
Command-4 :
DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
            Syntax to drop an existing table.

DROP TABLE table_name;
Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is an abbreviation of Data Manipulation Language.

The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

Following are the four main DML commands in SQL:

SELECT Command
INSERT Command
UPDATE Command
DELETE Command

1 := INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.

    Syntax of INSERT Command

    INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;
    
2 := UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.

    Syntax of UPDATE Command

    UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;
    
3 := DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
    This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select           specific rows from the table.

    Syntax of DELETE Command

    DELETE FROM Table_Name WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language):
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

SELECT: It is used to retrieve data from the database.

    The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either the entire table or according to some specified rules. The data returned is stored in a result table.

        SELECT column1,column2 FROM table_name 
        column1 , column2: names of the fields of the table
        table_name: from where we want to apply query

Q5. Explain Primary Key and Foreign Key.

PRIMARY KEY Constraint :
• The PRIMARY KEY constraints uniquely identifies each record in a 
table.
• Primary keys must contain UNIQUE values, and cannot contain NULL 
values.
• PRIMARY KEY on CREATE TABLE :
        CREATE TABLE Persons (
        ID int NOT NULL,
        LastName varchar(255) NOT NULL,
        FirstName varchar(255),
        Age int,
        PRIMARY KEY (ID)
        );
• PRIMARY KEY on ALTER TABLE :
• To create a PRIMARY KEY constraint on the “ID” column when the 
table is already created, use the following SQL : 
        ALTER TABLE Persons
        ADD PRIMARY KEY (ID);
• DROP a PRIMARY KEY Constraint :
• To drop a PRIMARY KEY constraint, use the following SQL :
        ALTER TABLE Persons
        DROP PRIMARY KEY;
• Drop NOT NULL Constraint :
        ALTER TABLE Persons MODIFY COLUMN ID int null;
        FOREIGN KEY Constraint :
• The FOREIGN KEY constraint is used to prevent actions that would destroy 
links between tables.
• A FOREIGN KEY is a field in one table, that refers to the PRIMARY KEY.
• The table with the foreign key is called the child table, and the table with 
the primary key is called the referenced or parent table.


• FOREIGN KEY on CREATE TABLE :
• The following SQL creates a FOREIGN KEY on the “PersonID” column when 
the “Orders” table is created:
• CREATE TABLE Orders (
OrderID int NOT NULL,
OrderNumber int NOT NULL,
PersonID int,
PRIMARY KEY (OrderID),
FOREIGN KEY (PersonID) REFERENCES Persons(PersonID)
);
• FOREIGN KEY on ALTER TABLE :
• To create a FOREIGN KEY constraint on the “personid” column when 
the “orders” table is already created, use the following SQL :
• Syntax: 
    ALTER TABLE Orders
    ADD FOREIGN KEY (PersonID) REFERENCES Persons(PersonID)

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("SELECT * from test2.test_table")
mycursor.execute("SELECT c1,c5 from test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

1 := cursor() 

A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table. In other words, cursors conceptually return a result set based on tables within the databases.

2 := execute()

exec() function is used for the dynamic execution of Python programs which can either be a string or object code. If it is a string, the string is parsed as a suite of Python statements which is then executed unless a syntax error occurs and if it is an object code, it is simply executed.

Q7. Give the order of execution of SQL clauses in an SQL query.