Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [4]:
data = pd.Series([4,8,15,16,23,42])

In [5]:
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data = ({'name' : ["hemangi",'krinsi','mitali','bansi','hensi','bhargav','harsh','guirang','uttam','priya'],
         'age'  :[18,18,17,18,19,18,18,18,18,19],
         'mark' :[70,72,76,70,65,67,78,76,64,67]}
)
pd.Series(data)

name    [hemangi, krinsi, mitali, bansi, hensi, bharga...
age              [18, 18, 17, 18, 19, 18, 18, 18, 18, 19]
mark             [70, 72, 76, 70, 65, 67, 78, 76, 64, 67]
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
data = ({'name' : ['alice','bob','claire'],
         'age'  :[25,30,27],
         'gender' :['female','male','female']}
)
df = pd.DataFrame(data)

In [9]:
df

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series	                                                                |                  Pandas DataFrame
One-dimensional	                                                                |    Two-dimensional
Homogenous – Series elements must be of the same data type.	                    |    Heterogenous – DataFrame elements can have different data types.
Size-immutable – Once created, the size of a Series object cannot be changed.	|    Size-mutable – Elements can be dropped or added in an existing                                                                                   |                   DataFrame.
ex := data = pd.Series([4,8,15,16,23,42])                                       |     ex := data = ({'name' : ['alice','bob','claire'],
                                                                                |                    'age'  :[25,30,27],
                                                                                |                     'gender' :['female','male','female']}
                                                                                |                   )
                                                                                |           df = pd.DataFrame(data)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

---->>>> COMMON FUNCATION IS := 
1. read_csv()
2. head()
3. tail()
4. describe()
5. dtypes()
6. categorical()
7. drop()
8. dropna()
9. fillna()
10. groupby()
11. sort_value()

example :=

In [10]:
df = pd.read_csv("services.csv")

In [11]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series    := The values of the series are mutable means we can change any value in series,
             but the size of the series is immutable so we can not change the size of the series. 
Dataframe := A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time.  
PANEL     := Panel Data and size are mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

#define three Series
name = pd.Series(['A', 'B', 'C', 'D', 'E'])
points = pd.Series([34, 20, 21, 57, 68])
assists = pd.Series([8, 12, 14, 9, 11])

In [26]:
#convert each Series to a DataFrame
name_df = name.to_frame(name='name')
points_df = points.to_frame(name='points')
assists_df = assists.to_frame(name='assists')

In [27]:
df = pd.concat([name_df, points_df, assists_df], axis=1)

In [28]:
df

  name  points  assists
0    A      34        8
1    B      20       12
2    C      21       14
3    D      57        9
4    E      68       11