Question 1:=

In [5]:
l1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print(l1)

l1.sort(key = lambda x : x[1])
print(l1)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Question 2:=

In [6]:
l=[1,2,3,4,5,6,7,8,9,10]

In [7]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list (map (lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Question 3:= Write a python program to convert the given list of integers into a tuple of strings. Use map and
            lambda functions 
            Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
l=[1,2,3,4,5,6,7,8,9,10]

In [14]:
tuple(map(lambda l : str(l),l ))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Question 4:=  Write a python program using reduce function to compute the product of a list containing numbers
                from 1 to 25.

In [15]:
from functools import reduce

In [16]:
l=list(range(1,25))

In [17]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [19]:
reduce (lambda x,y : x*y,l)

620448401733239439360000

Question 5:= Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
            filter function.
            [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [20]:
l1=[2,3,6,9,27,60,90,120,55,46]

In [25]:
def div(x):
    return x%2==0 or x%3==0
l2=list(filter(div,l1))
print(l2)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

 Question 6:= Write a python program to find palindromes in the given list of strings using lambda and filter
                function.
                ['python', 'php', 'aba', 'radar',Â 'level']

In [26]:
l1=["python","php","aba","radar","level"]

In [33]:
def pali(l1):
    return l1 == l1[::-1]
l2=list(filter(pali,l1))
print(l2)

['php', 'aba', 'radar', 'level']